<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <h2>Lista de clientes cadastrados</h2>
    
    <a href="/cliente/form">Cadastrar novo</a>
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Genero</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${clientes}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.nome}"></td>
                <td th:text="${c.sobrenome}"></td>
                <td th:text="${c.idade}"></td>
                <td th:text="${c.genero}"></td>
                <td>
                    <a th:href="@{'/cliente/editar/'+${c.id}}">Editar</a> |
                    <a th:href="@{'/cliente/deletar/'+${c.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>